html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  background-color: var(--calcite-color-background);
}

/* Calcite Theme Editor: https://esrips.github.io/calcite-theme-editor/ */
.calcite-mode-light {
    color-scheme: light;
    --calcite-mode-name: light;
    --calcite-color-brand: #734109;
    --calcite-color-brand-hover: #5C3407;
    --calcite-color-brand-press: #452705;
    --calcite-color-text-1: #151515;
    --calcite-color-text-2: #161616;
    --calcite-color-text-3: #191919;
    --calcite-ui-text-highlight: #734109;
    --calcite-color-text-inverse: #ffffff;
    --calcite-color-text-link: #5C3407;
    --calcite-link-blue-underline: rgba(115, 65, 9, 0.5);
    --calcite-color-background: #F7F7F7;
    --calcite-color-foreground-1: #FFFFFF;
    --calcite-color-foreground-2: #F2F2F2;
    --calcite-color-foreground-3: #EDEDED;
    --calcite-color-inverse: #000000;
    --calcite-color-inverse-hover: #000000;
    --calcite-color-inverse-press: #000000;
    --calcite-color-border-1: #CACACA;
    --calcite-color-border-2: #D4D4D4;
    --calcite-color-border-3: #DFDFDF;
    --calcite-color-border-input: #959595;
    --calcite-ui-icon-color: #734109;
    --calcite-color-status-info: #5C3407;
    --calcite-color-status-success: #308e29;
    --calcite-color-status-warning: #f1c21b;
    --calcite-color-status-danger: #D83020;
    --calcite-color-status-danger-hover: #A82B1E;
    --calcite-color-status-danger-press: #7C1D13;
}



/* .esri-legend {
  width: unset !important;
} */

.esri-view .esri-view-surface--touch-none:focus::after {
  outline: none !important;
}

.content-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stats-label {
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
}

calcite-shell[content-behind] #center-container {
  margin: 0 50px 0 50px;
}

calcite-navigation[slot="header"] {
  --calcite-navigation-border-color: var(--calcite-color-brand);
}

calcite-navigation[slot="header"] [slot] {
  margin: 0 0.2rem;
}

calcite-navigation[slot="header"] calcite-action[slot="navigation-action"]:first-of-type {
  margin-left: 1rem;
  pointer-events: none;
}

calcite-navigation[slot="header"] calcite-action[slot="navigation-action"] {
  pointer-events: none;
}

calcite-navigation[slot="header"] calcite-navigation-logo {
  pointer-events: none;
  --calcite-color-text-1: var(--calcite-color-brand);
}

calcite-navigation calcite-action[slot="navigation-action"] {
  --calcite-color-icon-color: var(--calcite-color-brand);
}

calcite-loader#app-loader {
  --calcite-loader-size: 8rem;
  align-self: center;
  justify-self: center;
}

calcite-loader#map-loader {
  --calcite-loader-padding: 0;
  margin: auto 20px;
}

calcite-modal {
  --calcite-modal-content-background: var(--calcite-color-background);
}

calcite-modal [slot="secondary"] calcite-label {
  --calcite-label-margin-bottom: 0;
}

calcite-block {
  margin-top: 0;
  margin-bottom: 0;
}

calcite-list-item {
  --calcite-color-text-1: var(--calcite-color-brand);
}

.content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#center-container {
  height: 100%;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

#view-container {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.chart-node {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  /*border: solid 1px #ffffff;*/
}

body::-webkit-scrollbar {
  width: 0.3rem;
  height: 8px;
  background-color: var(--calcite-color-background);
}
body::-webkit-scrollbar-thumb {
  background: var(--calcite-color-brand);
}

::-webkit-scrollbar {
  width: 0.3rem;
  height: 8px;
  background-color: var(--calcite-color-background);
}
::-webkit-scrollbar-thumb {
  background: var(--calcite-color-brand);
}

.scroller {
  max-height: 200px;
  overflow-y: auto;
}

@media (min-resolution: 120dpi) {
  html {
       font-size: 75%;
  }
}